#!/usr/bin/env python
# -*- coding: UTF-8 -*-
import datetime

# DEBUG: This causes Django bring up a detailed report on uncaught exceptions.
# Set to False to protect your site.
DEBUG = True

DOMAIN_URL = "http://example.com"
APP_ROOT = "/webapps/cir_transcription"
APP_URL = "/apps/cir_transcription"
PYLIBS_DIR = APP_ROOT + "/libs/python"
# DJANGO_PATH: If you have multiple django installations, set the path to
# Django v1.4 to this variable.
DJANGO_PATH = '/webapps/libs/django-1.4.1/django'

# Make this unique, and don't share it with anybody. It can be an arbitrary
# string; the longer, the better safety of any data transmitted.
SECRET_KEY = 't\001\016=\272k\305\036\303:\357\220[IY\001\3256p\254\276u]\277'
             '\355pN\Zn+0\207\306\315M\227i\241\251n\347\206\367Q\221\252Y\215'
             '\257\267\333\^e\370\202\0064\252"\3711\272\275\001\233\350d1\232'
             '3\273br\3169!\347{\\036/$\304\330\356?o\000\366\342\226O9(\266'
             '\177qf\020\021z'

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# On Unix systems, a value of None will cause Django to use the same
# timezone as the operating system.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'Europe/Prague'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-gb'

EXPORT_DIR = APP_ROOT + "/data/export"
CONVERSATION_DIR = APP_ROOT + "/data/conversations"
# LISTS_DIR: Path towards a directory where lists of dialogue dirs to import
# will be looked for. This does not influence the scripts/fetch_dgdir.sh script
# which uses (APP_ROOT + "/data/lists") anyway.
LISTS_DIR = APP_ROOT + "/data/lists"
SESSION_FNAME = 'session-fixed.xml'
SESSION_FNAMES = ('session-fixed.xml', 'session.xml')
# alternatives, tried from the first (up to the last if the previous did not
# exist)

USE_CF = True    # use Crowdflower?
WORKLOGS_DIR = APP_ROOT + "/log/work_logs"
CURLLOGS_DIR = APP_ROOT + "/log/curl_logs"
LOG_CURL = False

CODE_LENGTH = 6  # length of the validation code
CODE_LENGTH_EXT = 3  # length of the validation code extension

CF_KEY = "abcdabcdabcdabcdabcdabcdabcdabcdabcdabcd"

# CF_WAIT_SECS: How long to give Crowdflower before asking it about newly
# uploaded jobs.
CF_WAIT_SECS = 1

CF_MAX_WAITS = 41

PRICE_CONST = 2 * 0.01
PRICE_PER_MIN = 30 * 0.01
PRICE_PER_TURN = 0.5 * 0.01
MIN_TURNS = 2

MAX_ANNOTATIONS_PER_INPUT = 1
SESSION_EXPIRED = datetime.timedelta(hours=12)

# maximum tolerated character error rate in transcriptions (after
# normalisation)
#
# The value 0.07 implies that one in 14--15 characters being wrong shall be
# tolerated.
MAX_CHAR_ER = 0.07

# What all information about a finalized job should be stored in the XML
# session file?
#
# Format: [ (Crowdflower JSON key, target XML attribute) ]
LOGGED_JOB_DATA = [
#     ("webhook_sent_at", "webhook_sent_at"),
#     ("city", "city"),
#     ("region", "region"),
#     ("created_at", "created_at"),
#     ("unit_id", "unit_id"),
#     ("unit_state", "unit_state"),
    ("country", "country"),
    ("worker_trust", "worker_trust"),
#     ("judgment", "judgment"),
#     ("tainted", "tainted"),
#     ("trust", "trust"),
#     ("id", "cf_id"),
    ("external_type", "channel"),
#     ("reviewed", "reviewed"),
#     ("worker_id", "worker_id"),  # This is always logged.
#     ("missed", "missed"),
#     ("started_at", "started_at"),
#     ("golden", "golden"),
#     ("job_id", "job_id"),
#     ("rejected", "rejected"),
]

# EXTRA_QUESTIONS: subset of these example strings. Determines what additional
# questions should be asked in the transcription form.
EXTRA_QUESTIONS = ('accent', 'quality', 'offensive')

XML_COMMON = {
    'ANNOTATIONS_ABOVE': ".",
    'ANNOTATIONS_AFTER': "turn",  # This has to point to a direct child of
                                  # ANNOTATIONS_ABOVE.
    'ANNOTATIONS_ELEM': "annotations",
    'ANNOTATION_ELEM': "annotation",
    'REC_SUBPATH': "rec",
    'REC_FNAME_ATTR': "fname"
}

XML_SCHEMES = {
    'dialog': {
        'USERTURN_PATH': ".//userturn",
        'SYSTURN_PATH': ".//systurn",
        'TURNNUMBER_ATTR': "turnnum",
        'SYSTEXT_SUBPATH': "prompt",
        'TRANSCRIPTIONS_BEFORE': "asr",
        'TRANSCRIPTIONS_ELEM': "transcriptions",
        'TRANSCRIPTION_BEFORE': None,
        'TRANSCRIPTION_ELEM': "transcription",
        'AUTHOR_ATTR': "author",
        'DATE_ATTR': "date_updated",
        'DATE_FORMAT': None
    },
    'dialogue': {
        'USERTURN_PATH': ".//turn[@speaker='user']",
        'SYSTURN_PATH': ".//turn[@speaker='system']",
        'TURNNUMBER_ATTR': "turn_number",
        'SYSTEXT_SUBPATH': "text",
        'TRANSCRIPTIONS_BEFORE': None,
        'TRANSCRIPTIONS_ELEM': None,
        'TRANSCRIPTION_BEFORE': "slu",
        'TRANSCRIPTION_ELEM': "asr_transcription",
        'AUTHOR_ATTR': "transcriber",
        'DATE_ATTR': "date",
# NOTE: including timezone info into the datetime format could disable
# finding the transcription in its XML if the timezone setting changes
        'DATE_FORMAT': "%d/%m/%y, %H:%M:%S %Z"
    }
}

TRANSCRIBE_EXTRA_CONTEXT = {
    'instruction_includes': ('trs/numerals.html',
                             'trs/ortography.html',
                             'trs/incomplete_words.html',
                             'trs/nonspeech_sounds.html',
                             # 'trs/censoring.html',
                             'trs/localnames-cir.html',
                             'trs/donotspam.html',
                             )
}
