{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>Dialogue transcription</title>
    <meta name="ROBOTS" content="NONE" />
    <meta name="Copyright" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="{{ MEDIA_URL }}css/base.css" rel="stylesheet" type="text/css" media="screen" />

<style type="text/css">

body {
  font-family: Verdana, sans-serif;
  font-size: 90%;
  margin: 20px;
}

div#headbar {
  padding: 5px;
  color: #666;
  border-bottom: 1px solid #666;
}

div#content {
	padding: 5px;
}
</style>

{% block head %}
{% endblock %}
  </head>
<body>

{% if not user.is_anonymous %}
<div id="headbar">
<a href="{% url "home" %}">Home</a> | 
Login: {{ user.username }} | 
<a href="{% url "logout" %}">Log Out</a>
{% block heading %}
{% endblock heading %}
</div>
{% endif %}

<div id="content">
{% block content %}
default
{% endblock content %}
</div>
</body>
